---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";
const allPosts = await Astro.glob('../pages/posts/*.md');
const publicPosts = allPosts.filter((post) => !post.frontmatter.draft);
const sortedPosts= publicPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const allThoughts = await getCollection('thoughts')
const sortedThoughts = allThoughts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));
---
</style>
<BaseLayout title="My Blog">
  <main>
    <div class="blog">
      <h2> Recent Blog Posts </h2>
      <br />
      <div>
      {sortedPosts.slice(0, 4).map((post) => {
        return (
        <article>
          <img src={post.frontmatter.hero} alt={post.frontmatter.alt} width="250"><a href={post.url} class="summary-title"><h3>{post.frontmatter.title}</h3></a>
          <p>{post.frontmatter.description}</p>
          <div style="display:flex;">
            {post.frontmatter.tags.map((item) => <div style="padding-right: 1.5em; font-weight: bold; color:#3d5262;"><p style="border-radius:10px; margin:0; padding-top:0.25rem; padding-bottom:0.25rem; padding-left:0.35rem; padding-right:0.35rem; border: 1px solid rgb(144, 147, 216)"><a href={`/tags/${item}`}>{item}</a></p></div>)}
          </div>
          <p>{new Date(post.frontmatter.date).toISOString().slice(0, 10)}</p>
          <hr>
        </article>
      )})}
      </div>
      <h4><a href="/posts">See full post archive ...</a></h4>
    </div>

    <div class="thoughts" style="margin-top: 3em;">
      <h2>Recent Thoughts</h2>
      <div>
        {
          sortedThoughts.slice(0, 5).map((post) => {
            return(
              <article>
              <a href={`/thoughts/${post.slug}`}><h3>{post.data.title}</h3></a>
              <p>{post.data.description}</p>
              <p>{new Date(post.data.pubDate).toISOString().slice(0, 10)}</p>
              <hr>
            </article>
            )})
        }
      </div>
      <h4><a href="/thoughts/">See full thoughts archive ...</a></h4>
    </div>
  </main>
</BaseLayout>
