---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = 'Blog'
const description = 'All blog posts.'

const allPosts = await Astro.glob('./posts/*.md');
const publicPosts = allPosts.filter((post) => !post.frontmatter.draft);
const sortedPosts= publicPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

---
<BaseLayout title="All Posts">
  <main>
    <h2> Post Archive</h2>
    <div>
      {sortedPosts.map((post) => {
      
        return (
          <article>
          <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
          <p>{post.frontmatter.description}</p>
          <p>{post.frontmatter.excerpt}</p>
          <div style="display:flex;">
            {post.frontmatter.tags.map((item) => <div style="padding-right: 1.5em; font-weight: bold; color:#3d5262;"><p style="border-radius:10px; margin:0; padding-top:0.25rem; padding-bottom:0.25rem; padding-left:0.35rem; padding-right:0.35rem; border: 1px solid rgb(144, 147, 216)"><a href={`/tags/${item}`}>{item}</a></p></div>)}
          </div>
          <p>{new Date(post.frontmatter.date).toISOString().slice(0, 10)}</p>

          <hr>
        </article>
      )})}
    </div>
  </main>
</BaseLayout>